/* 
    Created on : 28/05/2017, 04:59:03 PM
    Author     : isaac_stark
*/

.bordeError {
    animation: mymove 5s infinite;
}

.borde {
    border-color: hsl(103, 94%, 55%);
    box-shadow: 2px 2px 2px 2px hsl(103, 94%, 55%); 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {box-shadow: 2px 2px 2px 2px hsl(4, 94%, 55%);}
}

/* Standard syntax */
@keyframes mymove {
    50% {box-shadow: 2px 2px 2px 2px hsl(4, 94%, 55%);}
}
