<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <description>Realiza una operacion previa y posterior al inicio de sesion.</description>
        <filter-name>LoginFilter</filter-name>
        <filter-class>controlador.LoginFilter</filter-class>
        <!--<init-param>
            <description>Lista de usuarios permitidos para acceder a la  pagina de registro de tickets en linea</description>
            <param-name>UsuarioPermitido</param-name> 
            <param-value>/WEB-INF/user.json</param-value>
            <param-value>lokosforever@gmail.com</param-value>
            <param-value>unaContraseniaBienPerraYCifradaALV</param-value>
        </init-param>-->
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/registro.html</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Ticket</servlet-name>
        <servlet-class>controlador.Ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroTicket</servlet-name>
        <servlet-class>controlador.RegistroTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Handshake</servlet-name>
        <servlet-class>controlador.Handshake</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ticket</servlet-name>
        <url-pattern>/Ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroTicket</servlet-name>
        <url-pattern>/RegistroTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Handshake</servlet-name>
        <url-pattern>/Handshake</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
